/* 본문 => 제주고딕 */
@import url('http://fonts.googleapis.com/earlyaccess/jejugothic.css');

/* 타이틀 => 플라이트 산스 title */
@font-face {
    font-family: 'FlightSans-Title';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}